@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-action="TestAut">TestAut</a>.</p>
    <p><a asp-action="TestRole">TestRole</a>.</p>
    <p><a asp-controller="Users" asp-action="Index">Users</a>.</p>
    <p><a asp-controller="Roles" asp-action="Index">Roles</a>.</p>
    <p><a asp-controller="UserRoles" asp-action="Index">UserRoles</a>.</p>
</div>
