@model LessonViewModel

@{
    ViewData["Title"] = "Lessons";
}

<h1>Курс: @Model.NameCourse</h1>
<br />
<br />
<div>
    <h4>Название урока: @Model.NameLesson</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
    </dl>
</div>
