@model IEnumerable<TrainingPortal.Common.Models.Course>

@{
    ViewData["Title"] = "MyCourses";
}

@{
    ViewData["Title"] = "MyCourses";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Name("Пройденные курсы")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Скачать сертификат", "", new { id = item.CourseId })
                </td>
            </tr>
        }
    </tbody>
</table>
