@model IEnumerable<TrainingPortal.Common.Models.Section>

@{
    ViewData["Title"] = "Sections";
}

<h1>Разделы</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Перейти к курсам", "Courses", new { sectionId = item.SectionId })
            </td>
        </tr>
}
    </tbody>
</table>
